* {
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
   
}


svg {
    display: flex;
    width: 30px;
    margin: 1px;
}

.twitter-icon {
    padding-top: 8px;
    padding-bottom: 20px;
}

.twitter-icon:hover {
    background-color: lavender;
    cursor: pointer;
}


.icons {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 0px;
    margin-bottom: 28px;
    padding-right: 8px;
}

.icons svg {
    width: 25px;
    height: 25px;
}

.icons h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 5px 20px;
    font-family: "Arial";
}

.icons:hover {
    background-color: rgb(247, 249, 249);
    border-radius: 20px;
}

.icons.active {
    color: black;
    font-style: bold;
    font-weight: 1400;
}

.twitter-icon {
    fill: rgb(29, 155, 240);
    cursor: pointer;
    color: rgb(29, 155, 240);
}

.icontweet {
    margin-right: 40px;
    width: 120%;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50px;
    height: 50px;
    background-color: rgb(29, 155, 240);
    color: white;

}

.user{
    position: absolute;
    bottom: 20px;
    display: none;
}
.user:hover{
    background-color: rgb(247, 249, 249);
    cursor: pointer;
}
.user svg:hover{
    background-color: rgb(247, 249, 249);
    border-radius: 50%;
}


.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    padding-left: 0px;
    margin-right: 10px;

}

.user h3 {
    text-decoration: bold;
}

.user h4 {
    font-weight: 100;
}

.user svg {
    float: right;
    order: 2;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 40px;

}



.sidebar {
    border-right: 1px solid silver;
    height: 100vh;
}

.sidebar {
    padding-left: 10px;
    padding-right: 55px;
    font-stretch: 100%;
}

.middlebar {
    padding-left: 55px;
}

.middlebar h2 {
    padding: 20px;
    color: rgb(15, 20, 25);
    font-weight: 400;
    font-family: "arial";
    font-size: 20px;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    font-stretch: 100%;
}

.top-tweets {
    float: right;
    cursor: pointer;
    padding-left: 500px;
}

.top-tweets {
    margin-left: 0px;
}

.top-tweets svg {
    width: 20px;
    height: 20px;
}


.middlebar {
    border-right: 1px solid silver;
}


.tweet__sirisha img {
    border-radius: 50%;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

.tweetbox {
    float: right;
}

.middlebar {
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
    padding-right: 0px;
}

.tweet form {
    display: flex;
    flex-direction: column;

}

.tweet__sirisha {
    display: flex;
    padding-left: 5px;
}

.tweet__sirisha input {
    flex: 1;
    margin-left: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}


.tweet__tweetbox {
    width: 100%;
    color: blue;
    float: right;
    margin-right: 10px;
}

.tweet__icons {
    float: left;
    /* width: 6%; */
    fill: rgb(29, 155, 240);
    justify-content: center;
    font-weight: 5%;
    padding: 7px;
    transition: all 0.3s ease;
}

.top-section-icons {
    margin-left: 84px;
}

.tweet__icons svg {
    width: 20px;
    height: 20px;
}

.tweet__icons svg:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
}

.tweet__icons:hover {
    background-color: rgb(240, 240, 240);
    color: blue;
    cursor: pointer;
    border-radius: 50%;
}

.tweet__tweetbox {
    background-color: lightblue;
    border: none;
    color: white;
    font-weight: 100;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 1px;
    margin-left: auto;

}

.tweet {
    padding-bottom: 50px;
    border-bottom: 1px solid silver;
    padding-right: 1px;
}

.post {
    border-bottom: 1px solid silver;
}

.post__avatar img {
    border-radius: 50%;
    height: 50px;
    padding-top: 3px;
    padding-left: 10px;
    cursor: pointer;
}

.post__avatar img:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.post__headertext {
    font-weight: 100;
    font-size: 10px;
    font-family: arial;
    display: flex;
}

.post__headertext h3 {
    font-weight: 100;
    font-family: arial;
    padding-top: 15px;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
}

.dots svg {
    width: 20px;
    height: 20px;
}

.dots svg:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    cursor: pointer;
}

.post__image img {
    padding-top: 10px;
    height: 370px;
    width: 525px;
}

.post__body img {
    border-radius: 20px;
    padding-left: 0px;
}

.post__footer {
    display: block;
    float: left;
    vertical-align: middle;
    justify-content: space-;
    font-size: 5px;
    border-bottom-color: rgb(0, 0, 0);
    padding-left: 0px;
    padding-right: 3px;
    fill: rgb(0, 0, 0);
}

.post__footer:hover {
    background-color: rgb(247, 249, 249);
    border-radius: 50%;
    cursor: pointer;
}

.post__footer input {
    outline: none;
    border: none;
    background-color: transparent;
    margin-right: 5px;
    padding-top: 14px;
    padding-left: 12px;
}

.post__footer svg {
    padding-top: 10px;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 100px;

}

.post__headertext {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin-left: 5px;
}

.post__headertext h3 {
    padding-left: 5px;
}

.post__headerdescription {
    padding-left: 10px;
}

.post__headerimportant {

    color: rgb(29, 155, 240);
    cursor: pointer;
    display: inline;
    fill: rgb(29, 155, 240);
    font-size: 15px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
}

.rightbar {
    flex: 0.2;
    padding: 0 30px;
}


.rightbar__searchbox {
    margin-top: 5px;
    width: 350px;
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0 25px;
}

.rightbar__searchbox svg {
    width: 25px;
}

.rightbar__searchbox input {
    width: 100%;
    background: transparent;
    margin-left: 20px;
    outline: none;
    border: 0;
}


.rightbar__searchbox {
    width: 280px;
    height: 40px;
    font-size: 24px;
    border: 1px solid rgb(240, 240, 240);
}


.actual {
    margin-top: 30px;
    border: 1px solid rgb(247, 249, 249);
    border-radius: 20px;
    padding: 5px;
}

.actual {
    background-color: rgb(247, 249, 249);
}


.feed__news {
    cursor: pointer;
    width: 300px;
    display: flex;
}

.image {
    float: right;
    order: 2;
    padding: 10px 5px;
    height: 50px;
}

.image img {
    border-radius: 10px;
    
}

.feed h3 {
    font-family: arial;
    margin-top: 5px;
    margin-bottom: 20px;
}

.text:hover {
    background-color: lavender;
}

.text2:hover {
    background-color: lavender;
}


.text4 {
    padding-bottom: 18px;
}

.text {
    padding-bottom: 8px;
}

.text h6 {
    font-weight: 60;
}



.text2 svg {
    padding-right: 8px;
}

.text3 svg {
    padding-right: 14px;
}

.text4 svg {
    padding-right: 10px;
}

.text h5 {
    font-weight: 100;
    font-family: arial;
}
.text4 h6{
    margin-top: 10px;
    font-weight: 100;
}

.text h4 {
    padding: 10px 0px;
}

.color {
    color: rgb(29, 155, 240);
}


.text2 svg {
    float: right;
    order: 2;
    weight: 20px;
    height: 20px;
}

.text svg:hover {
    background-color: lavender;
}


.text2 h5 {
    padding-top: 5px;
}

.text2 {
    padding: 10px 0px;
}

.text2 h5 {
    font-weight: 100;
}

.text2 h4 {
    padding: 5px 0px;
    font-family: arial;
}

.text2 h6 {
    margin-top: 5px;
    font-weight: 50;
}

.end:hover {
    background-color: lavender;
    cursor: pointer;
}

.end h3 {
    color: rgb(29, 155, 240);
}

.dots {
    float: right;
    padding-left: 220px;
    padding-top: 0px;
}

.dots2 {
    float: right;
    order: 2;
}

.text3:hover {
    background-color: lavender;
}

.text4:hover {
    background-color: lavender;
}

.text3 svg {
    float: right;
    order: 2;
    width: 20px;
    height: 20px;
}

.text3 h3 {
    font-family: arial;
}

.text3 h5 {
    font-weight: 100;
}

.text3 h4 {
    font-family: arial;
    padding-top: 8px;
    padding-bottom: 15px;
}

.text4 svg {
    float: right;
    order: 2;
    weight: 20px;
    height: 20px;
}

.text4 h3 {
    font-family: arial;
    font-size: medium;
    padding-top: 8px;
}

.feed h3 {
    padding-left: 5px;
}

.text4 {
    padding-top: 8px;

}

.text4 h5 {
    font-weight: 100;
}

.text {
    padding-left: 5px;
}

.text2 {
    padding-left: 5px;
}

.text3 {
    padding-left: 5px;
}

.text4 {
    padding-left: 5px;
}

.text h4 {
    font-family: arial;
}

.end {
    padding-left: 5px;
    padding-top: 18px;
}

.follow{
    margin-top: 30px;
    border: 1px solid rgb(247, 249, 249);
    border-radius: 20px;
    background-color: rgb(247, 249, 249);
}
.following h3{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
}

.accounts img{
    height: 50px;
    width: 50px;
    border-radius:50px;
    float: left;
    
   
}
.siri button {
    float: right;
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-family: arial;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 18px;
    margin-top: 15px;
    height: 30px;
    width: 80px;
}



.show {
    color: rgb(29, 155, 240);
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 17px;
    font-size: 80;
}

.last p {
    cursor: pointer;
}

.last p:hover {

    text-decoration: underline;
    
}

.last {
    margin-top: 30px;
    margin-left: 20px;
}

.last svg {
    float: right;
    order: 2;
    margin-top: 0px;
    margin-right: 80px;
    width: 20px;
    height: 20px;
}


.sidebar {
    position: fixed;
}

.middlebar {
    margin-left: 195px;
}

.showh3:hover {
    background-color: lavendar;
}

.rightbar__searchbox {
    position: sticky;
    top: 0;
    padding-top: 10px;
}
.following {
    position: sticky;
    top: 75px;
}

.last {
    position: sticky;
    top: 500px;

}
.footer2{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(29, 155, 240);
    color: white;
    text-align: center;
    overflow-wrap: break-word;
    display: flex;
}
.footer2 h2{
    font-weight: bolder;
    font-size: 100;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 12px;
    margin-left: 400px;
}
.footer2 h5{
    font-weight: 50;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
    
}
.button1{
    margin-top: 20px;
    margin-left: 400px;
    float: right;
    order: 2;
    height: 35px;
    width: 70px; 
    border-radius: 20px;
    outline: none;
    background-color: rgb(29, 155, 240);
    border: 1px solid white;
    color: white;
    font-weight: bolder;
}
.button1:hover{
    cursor: pointer;
}
.button2:hover{
    cursor: pointer;
}
.button2{  
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 30px;
    float: right;
    order: 2;
    height: 30px;
    width: 70px; 
    border-radius: 20px;
    outline: none;
    border: 1px solid white;
}
#popup{
    top: 0px;
    display: none;
    left: 0px;
    position: fixed;
    height: 92vh;
    width: 1800px;
    background-color: grey;
    opacity: 0.6; 
}
.container{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 10px rgb(110, 110, 110, .2);
    display: none;
    flex-direction: column;
    align-items: center;
}


.container h2{
    margin-right: 230px;
    margin-top: 30px;
    font-family: arial;
    font-weight: 1400;
}
.box{
    width: 300px;
    height: 240px;
    flex-direction: column;
}
.box-one svg{
    fill:rgb(29, 155, 240);
}
.box-two{
    margin-left: 70px;
    margin-top: 20px;
}
.box-two input{
    position: relative;
    width: 400px;
    height: 45px;
    outline: none;
    border: 2px solid rgb(29, 155, 240);
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 15px;    
}
.box-two svg{
    float: right;
    padding-bottom: 10px;
    height: 20px;
    width: 20px;
    margin-right: 100px;   
}
.login-btn{
    width: 400px;
    height: 45px;
    border-radius: 30px;
    background-color: gray;
    outline: none;
    border: 1px solid gray;
    margin-top: 220px;
    margin-right: 30px;
    color: white;
    font-weight: bolder;
}
.box-two h6{
    font-family: arial;
    margin-left: 8px;
    margin-top: 5px;
    color:rgb(29, 155, 240);
}
.container h5{
    margin-top: 20px;
    margin-right: 250px;
    font-family: arial;
    font-weight: 80;   
}
.hide{
    display: none;
}